APP_NAME=dev
WORKSPACE_TIMEZONE=

DOCKER_LOGIN=dlebedenko
PHP_VERSION=8.0

NGINX_PORT=8080
ADMINER_PORT=8081
DB_PORT=5432

POSTGRES_DB=dev
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=password

CONTAINER_NGINX=nginx
CONTAINER_PHP=php-${PHP_VERSION}
CONTAINER_ADMINER=adminer
CONTAINER_DB=db

DOCKER_NGINX=${DOCKER_LOGIN}/nginx
DOCKER_PHP=${DOCKER_LOGIN}/${DOCKER_IMAGE}
DOCKER_ADMINER=adminer:latest
DOCKER_POSTGRES=postgres:latest
DOCKER_MYSQL=mariadb:latest
